
.box_hamburgue{
height: 30px;
width: 30px;

}

#btn_hambur{
  background-image:url(arsset/icons8-restaurant-menu-64.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  height: 30px;
  border-radius: 20px;
  display: none;
}


  @media only screen and (max-width: 660px){
    #btn_hambur{
      display: block;
      height: 30px;

    }
    
  }